body {
  height: 913px;
  background-image: linear-gradient(hsl(273, 75%, 66%), hsl(240, 73%, 65%));
  color: black;
  font-family: "Kumbh Sans", sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
}

h1 {
  font-weight: 700;
}

.arrow {
  width: 14px;
  height: 9px;
  float: right;
  margin-top: 7px;
  background-image: url("images/icon-arrow-down.svg");
  background-repeat: no-repeat;
  background-size: 14px;
  background-position: cover;
}
.reversed-arrow {
  transform: rotate(180deg);
}

p,
h2 {
  font-weight: 400;
}
h2:hover {
  cursor: pointer;
  color: hsl(14, 88%, 65%);
}

p {
  opacity: 0.8;
  font-size: 16px;
  display: none;
}
hr {
  opacity: 0.5;
}

.container {
  width: 1200px;
  height: 600px;
  background-color: aliceblue;
  border-radius: 25px;
  overflow: hidden;
  margin: 70px;
}
.woman_img-desktop {
  position: relative;
  height: 415px;
  top: 70px;
  margin-left: -100px;
  z-index: 8;
}
.bg-pattern-desktop {
  position: relative;
  height: 1000px;
  top: -680px;
  left: -575px;
  z-index: 5;
}
.box_img-desktop {
  margin-top: 55px;
  margin-right: -165px;
  z-index: 10;
}
.header {
  position: relative;
  top: 50px;
  right: 490px;
  float: right;
  font-size: 38px;
}

.accordion {
  position: relative;
  top: -1280px;
  right: 120px;
  float: right;
  width: 450px;
  font-size: 13px;
  list-style-type: none;
  z-index: 50;
}
.active {
  font-weight: 700;
}

.attribution {
  position: absolute;
  font-size: 15px;
  text-align: center;
  bottom: -30px;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}

.woman_img-mobile {
  display: none;
}

/* RESPONSIVE */

@media screen and (max-width: 1230px) {
  .container {
    overflow: visible;
    width: 420px;
    height: 670px;
    margin-top: 180px;
  }
  .woman_img-desktop,
  .box_img-desktop,
  .bg-pattern-desktop {
    display: none;
  }
  .woman_img-mobile {
    display: flex;
    position: relative;
    top: -144px;
    right: -55px;
    height: 235px;
  }
  .bg-pattern-mobile {
    position: relative;
    top: -245px;
    right: -54px;
    height: 133px;
  }
  .header {
    top: 170px;
    right: 170px;
  }
  .accordion {
    float: none;
    z-index: 99;
    width: 360px;
    top: -105px;
    right: 10px;
  }
  .accordion-question {
    font-size: 17px;
  }
  .accordion-answer {
    font-size: 14px;
    width: 300px;
  }
  .accordion hr {
    margin-top: 20px;
    margin-bottom: 20px;
  }
  .attribution {
    top: 870px;
  }
}
